<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multiplayer Memory Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
</head>
<body>
    <div class="chat-box">
        <div class="message-board"></div>
        <input type="text"><br>
        <button>Send</button>
    </div>
    <div class="game-field"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" type="text/javascript" defer></script>
    <script src="{{ url_for('static', filename='js/game.js') }}" type="module" defer></script>
</body>
</html>