<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memory Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Multiplayer Memory Game</h1>
    <h2>Login to get started</h2>
    <div class="login-system-box">
        <form action="" class="user-form">
            <label for="username">Username</label><br>
            <input type="text" id="username"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password"><br>
            <input type="submit" value="Login">
        </form>
        <div class="register-box">
            <p>Don't have an account?</p>
            <a href=""><button>Register</button></a>
        </div>
    </div>
</body>
</html>