{% extends 'login.html' %}

{% block title %}
    <h2>Register yourself</h2>
{% endblock %}

{% block userbox %}
    <label for="username">Username</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password</label><br>
    <input type="password" id="password-one" name="password-one"><br>
    <label for="password">Password again</label><br>
    <input type="password" id="password-two" name="password-two"><br>
    <input type="submit" value="Register">
{% endblock %}

{% block register %}{% endblock %}