<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memory Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rooms.css') }}">
</head>
<body>
    <h1>Multiplayer Memory Game</h1>
    <h3>Logged in as <span class="username-info" data-userid="{{ session.user_id }}">{{ session.username }}</span></h3>
    <p class="logout-section"><a href="{{ url_for('logout') }}"><button>Logout</button></a></p>
    <div class="boards">
        <div class="room-board join-room">
            <h3>Join Room</h3>
            {% for room in rooms %}
                {% if not room.username_two %}
                    <div class="room" data-room-id="{{ room.id }}">
                        <h4>Room number {{ room.id }}</h4>
                        <p><b>Player one:</b> {{ room.username_one }}</p>
                        <p>Waiting for another player to join...</p>
                        <button class="join-button">Join</button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="room-board spectate-room">
            <h3>Spectate Room</h3>
            {% for room in rooms %}
                {% if room.username_two %}
                    <div class="room" data-room-id="{{ room.id }}">
                        <h4>Room number {{ room.id }}</h4>
                        <p><b>Player one:</b> {{ room.username_one }}</p>
                        <p><b>Player two:</b> {{ room.username_two }}</p>
                        <button>Spectate</button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="room-board create-room">
            <h3>Create Room</h3>
            <button id="create-button" data-username="{{ session.username }}"
                    data-userid="{{ session.user_id }}">Create New Room</button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" type="text/javascript" defer></script>
    <script src="{{ url_for('static', filename='js/rooms.js') }}" type="module" defer></script>
</body>
</html>