<div class="modal fade custom-modal" id="winModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="resident-modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="residentModalLabel">End of the game</h5>
      </div>
      <div class="modal-body">
          <p class="game-result"></p>
          <table id="decision-table">
              <tr id="player-one-decision">
                  <td id="player-one-decision-name"></td>
                  <td id="player-one-decision-content"></td>
              </tr>
              <tr id="player-two-decision">
                  <td id="player-two-decision-name"></td>
                  <td id="player-two-decision-content"></td>
              </tr>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="new-game-button">New Game</button>
        <button type="button" class="btn btn-secondary" id="leave-room-button">Leave Room</button>
      </div>
    </div>
  </div>
</div>