<div class="modal fade custom-modal" id="winModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="resident-modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="residentModalLabel">End of the game</h5>
      </div>
      <div class="modal-body">
          <p class="game-result"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">New Game</button>
        <button type="button" class="btn btn-secondary">Leave Room</button>
      </div>
    </div>
  </div>
</div>